@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import "tailwindcss";

@theme {
  /* This defines the 'sans' variable which is the default for Tailwind v4 */
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
}